<!doctype html>
<html>
  <head>
    <title>Real Time Voting</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="center">
  <h3>Admin</h3>
  <h5 id="connection-count"></h5>
  <h5>Question: <%= survey.question %></h5>
  <h5>Results: </h5>
  <% for (var option in survey.options) { %>
    <p><%= option + ":" + survey.options[option] %></p>
  <% } %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>