<!doctype html>
<html>
  <head>
    <title>State Your Preference</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="center">
    <h3>State Your Preference</h3>
    <h5 id="connection-count"></h5>

  <div class="row center">
    <form id="survey-form" method="POST" action="/" class="col s6 offset-s3">
      <div class="row">
        <div class="input-field">
          <label for="question">Question</label>
          <input id="question" type="text" class="validate">
        </div>
      </div>
      <div class="options-list">
        <div class="row">
          <div class="input-field">
            <label for="option-1">Option 1</label>
            <input id="option-1" type="text" class="validate">
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <label for="option-2">Option 2</label>
            <input id="option-2" type="text" class="validate">
          </div>
        </div>
      </div>
      <button type="button" name="add-option" onClick="addOption()" class="btn">Add Option</button>
      <br><br>
      <div class='row'>
        <div>
          <label for='date-selector'>Optional Expiration Date</label>
          <input id='date-selector' type="date" class="datepicker">
        </div>
        <div>
          <label for='time-selector'>Optional Expiration time</label>
          <input id='time-selector' type="time" class="datepicker">
      <button type="submit" name="begin-survey" onClick="beginSurvey()" class="btn">Begin Survey</button>
        </div>

      </div>
    </form>
  </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>

<script type="text/javascript">
  "use strict";
  let optionCounter = 3;
  function addOption() {
    $('.options-list').append(
      `<div class="row">
        <div class="input-field">
          <label for="option-${optionCounter}">Option ${optionCounter}</label>
          <input id="option-${optionCounter}" type="text" class="validate">
        </div>
      </div>`
    )
  optionCounter += 1;
  }
</script>