<!doctype html>
<html>
  <head>
    <title>Real Time Voting</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="center">
    <h3>Survey</h3>
    <h4>Question<h4>
    <h5> <%= survey.question %></h5>
    <h5 id="connection-count"></h5>
    <h3 id="userVoted"></h3>
    <div class="options">
      <% for (var option in survey.options) { %>
        <button><%= option %></button>
      <% } %>
    </div>

    <h4>Results: </h4>
    <div class="results">
      <% for (var option in survey.options) { %>
        <h5><%= option + ": " + survey.options[option] %></h5>
      <% } %>
    </div>

    <!-- Make sure your JS is at the bottom of the body! -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>