<!doctype html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body class="center">
    <h3>Survey</h3>
    <h4>Question<h4>
    <h5> <%= survey.question %></h5>
    <h5 id="connection-count"></h5>
    <h3 id="userVoted"></h3>
    <div class="options">
      <% for (var option in survey.options) { %>
        <button><%= option %></button>
      <% } %>
    </div>

    <% include ./partials/scripts %>
  </body>
</html>