<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body class="center">
    <h4>Question<h4>
    <h5> <%= survey.question %></h5>
    <h3 id="userVoted"></h3>
    <h3 id="inactive-survey"></h3>
    <% include ../partials/options %>

    <br>
    <h5 id="connection-count"></h5>

    <% include ../partials/scripts %>
  </body>
</html>